<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import { useStore } from '@/store'
import { useRoute } from 'vue-router'

import UserInfo from './user-info.vue'
import HyBreadcrumb from '@/base-ui/breadcrumb'

import { pathMapBreadcrumb } from '@/utils/map-menus'

export default defineComponent({
  emits: ['changeIsFold'],
  components: { UserInfo, HyBreadcrumb },
  setup(props, { emit }) {
    //左右箭头图标切换
    const isFold = ref(false)
    const changeIcon = () => {
      isFold.value = !isFold.value
      emit('changeIsFold', isFold.value)
    }

    //面包屑
    const store = useStore()

    const breadcrumbs = computed(() => {
      const userMenus = store.state.loginModule.userMenus
      const route = useRoute()
      const currentPath = route.path
      return pathMapBreadcrumb(userMenus, currentPath)
    })

    return { changeIcon, isFold, breadcrumbs }
  }
})
</script>

<template>
  <div class="nav-header">
    <el-icon class="fold-menu" @click="changeIcon">
      <Icon :icon="isFold ? 'Fold' : 'Expand'"></Icon>
    </el-icon>
    <div class="content">
      <HyBreadcrumb :breadcrumbs="breadcrumbs"></HyBreadcrumb>
      <UserInfo></UserInfo>
    </div>
  </div>
</template>

<style scoped lang="less">
.nav-header {
  display: flex;
  width: 100%;

  .fold-menu {
    font-size: 30px;
    cursor: pointer;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 20px;
  }
}
</style>
