<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    return {}
  }
})
</script>

<template>
  <div>
    <h2>404</h2>
  </div>
</template>

<style scoped lang="less"></style>
