<template>
  <div class="login-account">
    <el-form label-width="60px" :rules="rules" :model="account" ref="formRef">
      <el-form-item label="账号" prop="name">
        <el-input v-model="account.name" />
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="account.password" show-password />
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { useStore } from 'vuex'

import { rules } from '../config/account-config'
import type { ElForm } from 'element-plus'
import LocalCache from '@/utils/cache'

export default defineComponent({
  setup() {
    //解构本地存储的方法
    const { setCache, getCache, deleteCache } = LocalCache
    //vuex
    const store = useStore()
    //登录账号、密码
    const account = reactive({
      name: getCache('name') ?? '',
      password: getCache('password') ?? ''
    })
    //获取ElForm的ref
    const formRef = ref<InstanceType<typeof ElForm>>()
    //判断校验是否通过及之后的登录逻辑
    const loginAction = (isKeepPassword: boolean) => {
      formRef.value?.validate((valid) => {
        if (valid) {
          // 1.判断是否需要记住密码
          if (isKeepPassword) {
            // 本地缓存
            setCache('name', account.name)
            setCache('password', account.password)
          } else {
            // 清除缓存
            deleteCache('name')
            deleteCache('password')
          }
          //vuex的loginModule模块的action,开始进行登录验证

          store.dispatch('loginModule/accountLoginAction', { ...account })
        }
      })
    }
    return {
      account,
      rules,
      loginAction,
      formRef
    }
  }
})
</script>

<style scoped></style>
